/* ESTILOS DE TEACHER/INDEX */
:root {
  --colorwhite: #fff;
  --colornav: #103061;
  --colornavwhite: #1e5dbb;
  --colornavtwo: #17213d;
  --body: body{background-color: rgba(0, 0, 0, 0.2);};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.container {
  width: 90%;
  max-width: 1600px;
  margin: 10px 70px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(4, auto);

  grid-template-areas:
    "header header header"
    "content content content";
}

.container,
.container .header,
.container .content {
  padding: 15px;
  border-radius: 4px;
}

.container .header {
  background-image: linear-gradient(
    to right,
    var(--colornav),
    var(--colorwhite)
  );
  color: var(--colorwhite);
  grid-area: header;
}


.principal{
  display: flex;
}

.principal .form-principal--tabla-notas{
  margin: 20px 15px;
}

.form-principal--tabla-notas table{
  border-radius: 4px;
  background: var(--colornavdeg);
  color: var(--colorwhite);
  padding: 15px;
}

.form-principal--tabla-notas table td{
  padding: 10px;
  border: 2px solid var(--colorwhite);
  border-radius: 5px;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: var(--colornav);
  padding: 6px 14px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.navigation.active {
  width: 240px;
}

.navigation .logo_content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.navigation.active .logo_content .logo{
  opacity: 1;
  pointer-events: none;
}

.logo_content .logo i {
  font-size: 20px;
  margin-right: 5px;
}

.logo_content .logo .logo_name {
  font-size: 15px;
  font-weight: 400;
}

.navigation #btn_menu{
  position: absolute;
  color: #fff;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.navigation.active #btn_menu {
  left: 90%;
}

.navigation ul {
  margin-top: 20px;
}

.navigation ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}

.navigation ul li .tooltip {
  position: absolute;
  height: 35px;
  width: 122px;
  left: 122px;
  top: 0;
  transform: translateY(-50%);
  border-radius: 6px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%), -50%;
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
}

.navigation.active ul li .tooltip {
  display: none;
}

.navigation ul li:hover .tooltip {
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.navigation ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: var(--colornavtwo);
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.navigation ul li .bx-search {
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 22px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.navigation ul li .bx-search:hover {
  background: #fff;
  color: #1d1b31;
}

.navigation ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.navigation ul li a:hover {
  color: var(--colornav);
  background: #fff;
}

.navigation ul li i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.navigation .links_name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.navigation.active .links_name {
  opacity: 1;
  pointer-events: auto;
}

.navigation .profile_content {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.navigation .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: none;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.navigation.active .profile_content .profile {
  background: var(--colornavtwo);
}

.profile_content .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.navigation.active .profile .profile_details {
  opacity: 1;
  pointer-events: auto;
}

.profile .profile_details img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.profile .profile_details .name_job {
  margin-left: 10px;
}

.profile .profile_details .name  {
  font-size: 15px;
  font-weight: 400;
}

.profile .profile_details .job {
  font-size: 12px;
}

.profile #log_out {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.5s ease;
  background: var(--colornavtwo);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

a, #log_out{
  color: white;
  text-decoration: none;
}

.navigation.active .profile #log_out {
  left: 88%;
}

.navigation.active .profile #log_out {
  background: none;
}
/* End of Navigation */

#grupos, #periodos{
  padding: 0.5rem;
  background-color: var(--colornav);
  color: #fff;
  /* width: 100%; */
  border-radius: 4px;
  border: 0px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.274);
}

#grupos, #periodos option{
  border-radius: 4px;
  color: #fff;
  background-color: var(--colornav);
}
/* End of select-option */

.main{
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: repeat(1, 3fr);

  grid-template-areas:
    "table table logros logros";
}

.table-info-students{
  margin: 15px;
}

.table{
  margin: 15px;
}

.content-table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.2em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  width: 100%;
}

.content-table th{
  background-color: var(--colornav);
  color: white;
  text-align: center;
  padding: 15px;
}

.content-table td{
  padding: 15px;
  text-align: center;
}

.content-table tr{
  border-bottom: 1px solid #dddddd;
}

.content-table tr:nth-child(even){
  background-color: #f3f3f3;
}

.content-table tr:hover{
  background-color: #ddd;
}

.logros{
  margin: 20px;
  height: 90%;
  border: 1px solid #1d1b31;
  border-radius: 5px;
  grid-area: logros;
}

.logros h1{
  background-color: #ddd;
}

.btn_remove,
.btn-submit,
#add_logros{
  margin: 10px;
  padding: 6px;
  border-radius: 3px;
}

#add_logros{
  border: 2px solid var(--colornav);
}

#add_logros:hover{
  background-color: var(--colornav);
}

.row{
  padding: 5px;
}

.form_logros{
  height: 100%;
}

.form_logros .form-checkbox{
  display: inline-block;
  margin: 10px;
}

.form_logros  label,.checkbox-logros{
  padding-left: 20px;
  padding-right: 5px;
  transform: scale(1.3);
}

.form_logros .checkbox-logros:hover{
  background-color: #ccc;
}

.form_logros #contenido{
  padding: 30px;
  margin: 15px;
  border: 2px solid var(--colornav);
  border-radius: 2.5px;
}

#contenido .group-logro-input{
  display: inline-block;
  padding: 10px 0px;
}

.group-logro-input input{
  margin: 8px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(126, 126, 126, 0.52);
}

.group-logro-input input:focus  {
  border-bottom: 2px solid var(--colornav);
}

/* @media only screen and (orientation: landscape) {
  body {
    background-color: lightblue;
  }
} */

.details{
  display: inherit;
  padding: 10px;
}

.details .input{
  margin: 20px 0 12px 0;
  width: calc(100% / 2 - 20px);
}

.details .input input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.details .input select{
  display: flex;
  align-items: center;
}

.details .input input:hover{
  border-color: var(--colornav);
}

.img-user{
  position: relative;
  width: 240px;
}

.image{
  opacity: 1;
  display: block;
  width: 240px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.img-user:hover .image{
  opacity: 0.3;
}

.img-user:hover .overlay{
  opacity: 1;
}

.text-rol{
  color: var(--colornav);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .container .header{
    background-image: linear-gradient( to right, var(--colornav), var(--colornav) );
  }

  .form-checkbox .checkbox-info{
    width: 100%;
  }

  .checkbox-info label{
    width: 100%;
  }

  ul.navigation li a {
    text-align: center;
    float: none;
  }
}
